@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.white-box {
  background-color: white;
  width: 80%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.completed {
  text-decoration: line-through;
}

.paraStyle {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.h3Style {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.inputStyle {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;

  height: 10%;
}

.btnStyle {
  border: 1px solid #ff1493;
  color: #ff1493;
  border-radius: 5px;
  padding: 3px;
}

.btn2Style {
  border: none;
  color: #bbb;
  position: absolute;
  right: 11.5%;
}

.btn3Style {
  width: 95.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5px;
  padding: 10px;
  height: 10%;
  margin-top: 5px;
  background-color: #ff1493;
  border: none;
  border-radius: 5px;
  color: white;
}
